<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

    <h3> Drag & Drop files here</h3>

    <div class="file">
        <label class="file-label">
            <input class="file-input" type="file" (change)="onDrop($event.target.files)">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fa fa-upload"></i>
                </span>
            </span>
        </label>
    </div>
</div>

<h3 *ngIf="files.length > 0">Uploads</h3>
<div *ngFor="let file of files">
    <hr>
    <uploader-task [file]="file"></uploader-task>
</div>