<div class="form-container">
    <mat-card class="form-card">

        <button mat-flat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <div *ngIf="resultFiles.length">
            <table mat-table [dataSource]="resultFiles" class="mat-elevation-z4">

                <ng-container matColumnDef="User">
                    <th mat-header-cell *matHeaderCellDef>User</th>
                    <td mat-cell *matCellDef="let file">
                        <button mat-button [matTooltip]="file.userEmail" matTooltipPosition="right" matTooltipHideDelay="2000">
                            {{ file.userName }}
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="UploadTime">
                    <th mat-header-cell *matHeaderCellDef>Uploaded on</th>
                    <td mat-cell *matCellDef="let file">{{ file.uploadDate }}</td>
                </ng-container>

                <ng-container matColumnDef="DownloadURL">
                    <th mat-header-cell *matHeaderCellDef>Download</th>
                    <td mat-cell *matCellDef="let file">
                        <a [href]="file.downloadURL" [download]="file.originalName" target="_blank">{{ file.originalName }}</a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef>Delete Forever</th>
                    <td mat-cell *matCellDef="let file">
                        <button mat-stroked-button color="warn" (click)="deleteFile(file)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsFiles"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsFiles;"></tr>
            </table>
        </div>

    </mat-card>
</div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>