<div *ngIf="percentage | async as pct">
    <progress class="progress is-info" [value]="pct" max="100"></progress>
    {{ pct | number }}%
</div>

<div *ngIf="(snapshot | async) as snap">

    <div *ngIf="sizeUnit == 'B'">
        {{ snap.bytesTransferred }} of {{ snap.totalBytes }} bytes, {{ file.name }}
    </div>

    <div *ngIf="sizeUnit == 'KB'">
        {{ snap.bytesTransferred / 1024 | number:'1.0-1' }} of {{ snap.totalBytes / 1024 | number:'1.0-1' }} KB, {{ file.name }}
    </div>

    <div *ngIf="downloadURL as url">
        <!-- <h3>Results!</h3>
        <img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
    </div>
    <button mat-stroked-button color="primary" (click)="task.pause()" [disabled]="!isActive(snap)" [hidden]="!isActive(snap)">Pause</button>
    <button mat-stroked-button color="primary" (click)="task.cancel()" [disabled]="!isActive(snap)" [hidden]="!isActive(snap)">Cancel</button>
    <button mat-stroked-button color="primary" (click)="task.resume()" [disabled]="!(snap?.state === 'paused')" [hidden]="!isActive(snap)">Resume</button>
</div>