<div class="form-container">
    <mat-card class="form-card">

        <button mat-flat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email" (keydown.enter)="stopPropagation($event)">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password" (keydown.enter)="stopPropagation($event)">
            </mat-form-field>

            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                <span>{{ firebaseErrorMessage }}</span>
            </div>

            <button mat-button class="default-button-color">Login</button>
        </form>

    </mat-card>
</div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>