<div class="form-container">
    <mat-card class="form-card">

        <button mat-flat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <uploader-manager></uploader-manager>

    </mat-card>
</div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>