/* drag and drop styleing */

.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* min-width: 80vw; */
    font-weight: 200;
    height: 300px;
    border: 2px dashed #b724f1;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
}

.dropzone.hovering {
    border: 2px solid #b724f1;
    color: #dadada !important;
}

.dropzone .file-label {
    font-size: 1.2em;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}



/* normal app styling */


.responsive-img {
    min-width: 200px;
    max-width: 220px;
}

.progressIndicator {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.client-img {
    margin: 0px !important;
    max-width: 100%;
    max-height: 200px;
    min-width: 50%;
    min-width: 50%;
}

.mat-form-field {
    width: 100%;
}

button.default-button-color {
    background: #3f51b5;
    color: white;
    display: block;
    width: 100%;
    font-size: .875rem;
    font-weight: 500;
    margin: auto;
}

.top-margin {
    margin-top: .75rem !important;
}

.bottom-margin {
    margin-bottom: .75rem !important;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    width: 95%;
}

.radio-button {
    display: block;
    width: 100%;
}

.autofill-button {
    width: 100%;
    text-align: center;
    margin-top: .5rem !important;
}

.search-card {
    width: 90%;
    margin-top: 1rem;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mat-dialog-container {
    padding: 0px !important;
}

.modal {
    overflow: auto;
    overflow-y: initial !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    background-color: #f6f6f4;
    margin: auto;
    padding: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 500px;
    overflow: auto;
}

.cdk-overlay-pane {
    max-width: 95vw !important;
    max-height: 75vh !important;
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%
}

.search-form-layout {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

table {
    margin: auto;
    margin-top: 1rem;
    width: 95%;
}

.card-container {
    max-width: 25rem;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.img-container {
    text-align: center;
}

.form-card {
    width: 85%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.message {
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
}

.more-information {
    font-weight: 300;
    margin-left: .25rem;
    font-size: .85rem;
    color: #3f51b5;
    cursor: pointer;
}

@media(min-width: 40rem) {
    .mat-form-field {
        width: 100%;
    }
    .form-card {
        width: 55%;
    }
    .center {
        width: 65%;
    }
    .radio-bg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .client-img {
        margin: 0px !important;
        max-width: 95%;
        max-height: 200px;
        min-width: 23%;
        min-height: 180px;
    }
    .radio-button-img {
        width: 24%;
    }
    .search-card {
        width: 43%;
    }
    .mat-dialog-container {
        padding: 24px;
    }
    .one {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
    }
}