<button mat-flat-button routerLink="/login" *ngIf="!stateService.user">
    <mat-icon>login</mat-icon>
    <span>Login</span>
</button>

<button mat-flat-button routerLink="/signup" *ngIf="!stateService.user">
    <mat-icon>person_add</mat-icon>
    <span>Sign up</span>
</button>

<button mat-flat-button routerLink="/logout" *ngIf="stateService.user">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
</button>

<button mat-flat-button routerLink="/upload" *ngIf="stateService.user">
    <mat-icon>cloud_upload</mat-icon>
    <span>Upload data</span>
</button>

<button mat-flat-button routerLink="/download" *ngIf="stateService.user">
    <mat-icon>cloud_download</mat-icon>
    <span>Download data</span>
</button>
